*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1625602812206-5ec545ca1231?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.container{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 30px;
    color: #000;  
}
.field input,.field select{
    height: 40px;
    width: 400px;
    border-radius: 5px;
}
.btns{
    margin:50px 0 20px 0 ;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
}
.btn{
    text-decoration: none;
    color: #f64c72;
    border: #000 solid 2px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent; 
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #f64c72;
    color: #fff;
    border: none;
}
a{
    text-decoration: none;
    color: #fff;
}
select,input{
    font-size: 20px;
}
.foot{
	margin-top: 10px;
	margin-bottom: 10px;
}
